<!-- template.ejs -->
<div class="spacer"></div>
<% if (posts) { %>
    <% posts.forEach(post => { %>
        <div class="post-container content-container post-margin">
            <header class="headerbar">
                <% if (post.userpicID) { %>
                    <img class="user-icon" src="/profile/pic/<%= post.userpicID %>" alt="">
                <% } else { %>
                    <img class="user-icon" src="/images/no-profile-icon.png" alt="">
                <% } %>
                <div class="user-info-container">
                    <span class="user-name"><%= post.user%></span>
                    <div class="game-name"><%= post.game_name%></div>
                </div>
            </header>
            
            <div class="content">
                <video class="content-video" id="video-containter" src="/video/<%= post.fileId %>" controls></video>   
            </div>
            
            <footer class="content-footer">
                <div class="content-title"><%= post.title%></div>
                <div class="content-description"><%= post.description%></div>
                <div class="interactions-section">
                    <div class="engagements-container">
                        
                        <span class="like-button <%= user.likes && user.likes.indexOf(post._id) !== -1 ? 'toggled' : '' %>" id="like-btn-<%= post._id %>" data-postID="<%= post._id %>" data-liked="<%= post.isLiked %>"> 
                            <img src="/images/like-icon.png">
                        </span>
                        <div class="engagements"> 
                            <% if (post.num_likes) { %>
                            <span class="likes-count" id="likes-count-<%= post._id %>"><%= post.num_likes%></span> Likes
                            <% } else { %>
                                <span class="likes-count" id="likes-count-<%= post._id %>">0</span> Likes
                            <% } %>
                        </div>
            
                        <!-- <span class="comment-button" id="comment-btn-1">
                            <img src="/images/comment-icon.png">
                        </span>
                        <div class="engagements">
                            <span class="comments-count"> <%= post.num_comments%>  </span>Comments
                        </div> -->
                        
                    </div>
                </div>                
            </footer>
            
            
            <div class="comments-container">
                <div>Comments:</div> 
                <br>
                
                    <div class="comment"><img class="user-comment-icon" src="">
                    <span class="user-comment-info"> Kobbong</span>: <span class="user-comment"> _insert comment_  </span></div>
                
                
                <div class="comments-footer">
                    <p>Add a Comment:</p>
                    <div class="add-comment">
                        <img class="user-comment-icon" src="/images/no-profile-icon.png"> <textarea name="comment-area" name="comment-area" id="comment-area-1" cols="130" rows="1"></textarea>
                    </div>
            
                </div>
            </div>
        </div>
        
        <% }) %>
<% } %>



<script>
    // Add event listeners after the DOM is loaded
    document.addEventListener('DOMContentLoaded', async () => {
        // Function to handle the click event on a like button
        async function handleLikeClick(event) {
            // Get the post ID associated with this like button
            const postID = event.currentTarget.dataset.postid;
            const isLiked = event.currentTarget.dataset.liked === 'true';
            const action = isLiked ? 'dislike' : 'like';


            fetch(`/${postID}/like`, { method: 'POST' })
            .then(response => response.json())
            .then(data => {
                // Update the likes count in the DOM with the updated count
                const likesCountElement = document.getElementById(`likes-count-${postID}`);
                likesCountElement.textContent = data.likesCount;

                const likeButton = document.getElementById(`like-btn-${postID}`);
                likeButton.classList.toggle('toggled')
                likeButton.dataset.liked = data.isLiked;
            })
            .catch(error => {
                console.error('Error updating likes count:', error);
            });
        }

        // Add event listeners to all like buttons
        const likeButtons = document.querySelectorAll('.like-button');
        likeButtons.forEach((likeButton) => {
            likeButton.addEventListener('click', handleLikeClick);
        });
    });
</script>